<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.not.byko.jarlvpn_android_adminpanel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo192"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jarlvpn_android_adminpanel"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ServerActivity"
            android:exported="true" />
        <activity
            android:name=".CreateDiscountCodeActivity"
            android:exported="true" />
        <activity
            android:name=".CreateNewsActivity"
            android:exported="true" />
        <activity
            android:name=".DetailsActivity"
            android:exported="true" />
        <activity
            android:name=".PromoCodeActivity"
            android:exported="true" />
        <activity
            android:name=".ConfigActivity"
            android:exported="true" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>